 @charset "UTF-8";


html, body{
	margin:0;
	padding:0;
}



.containerbody {
	background:url("file:///C:/Users/dlrjs/Downloads/updown.jpg") no-repeat;
	background-size:cover;
	background-position: center center;
	
	
}

#number_game_position{
    margin: 200px auto;
    text-align: center;
    width: 600px;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 2px solid black;
  
    
}

.subheading {
	text-align: center;
	margin:0;
	padding:0;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}

.copyright-text
{
  margin:0
}

